.card-text {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-title {
  font-size: 1rem;
  color: #666;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5rem; /* agregar margen derecho de 3 centímetros */
  margin-left: 5rem; /* agregar margen izquierdo de 3 centímetros */
  justify-content: space-between;
}

.news-card {
  width: 48%;
  margin-bottom: 20px;
}
